@tailwind base;
@tailwind components;
@tailwind utilities;

.tag {
  padding: 3px 12px;
  border: 1px solid #bfbfbf;
  border-radius: 50px;
  margin-left: 10px;
}

.tag:hover {
  border: 1px solid #C43F3F;
}

.active-tag {
  padding: 3px 12px;
  border: 1px solid #C43F3F;
  border-radius: 50px;
  margin-left: 10px;
  color: white;
  background-color: #C43F3F;
}

.active-tag:hover {
  border: 1px solid #bfbfbf;
}

.swal_title {
  font-size: 18px;
  padding-top: 0;
}
.swal_confirm_fail {
  font-size: 18px !important;
  background-color: #fc7e9c !important;
  padding: 5px 15px;
}
.swal_confirm_success {
  font-size: 18px !important;
  background-color: #7ED05A !important;
  padding: 5px 15px;
}
.swal_container {
  background-size: 60vw !important;
}
.swal_popup {
  max-width: 80vw !important;
  border-radius: 12px;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
